button {
	border: 2px solid #008000;
	background: #126E12; 
	padding: 10px 1px;
	color: white;
	width: 200px;
	font-size: 11pt;
	}
button:hover {
	background: #15B315; 
	}
aside {
	background: black;
	padding: 10px;
	width: 200px;
	float: left;
	border: 2px solid green;
	}
article {
	margin-left: 240px;
	display: block;
	border: 2px solid green;
	background: #333333;
	color: white;
	padding: 10px;
	}
li {
	margin: 15px;
	}
p {
   color: white;
	}
a {
   color: lightgreen;
	   }
body {
	background: #000000;
	}
h1 {margin: 10px;
}
TABLE {
    border-collapse: collapse;
   }
TD, TH {
    padding: 5px;
    border: 2px solid;
   }
details {
	padding: 10px;
	}
img {
	background-color: #FFFFFF;
	max-width:100%;
	height:auto;
	max-height:600px;
}
